.header{
    background-color: rgb(255, 213, 149);
    width: 100%;
    &__wrapper{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }
    &__route-pages{
        color: rgb(133, 63, 255);
        font-size: 21px;
        font-weight: bold;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid rgb(133, 63, 255);
        background: none;
        transition: 0.3s color, 0.3s background;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            background: rgb(133, 63, 255);
            color: white;
        }
    }
    &__route-back{
        color: white;
        font-size: 21px;
        font-weight: bold;
        padding: 15px;
        transition: 0.3s all;
        cursor: pointer;
        text-decoration: none;
        gap: 10px;
        display: flex;
        border-radius: 10px;
        img{
            width: 30px;
            transform: rotate(180deg);
        }
    }
}